[submodule "src/test-talker"]
	path = src/test-talker
	url = https://github.com/NikolausLaj/talker-node-cpp.git
[submodule "src/my_package"]
	path = src/my_package
	url = https://github.com/jvgruber/my_package.git
[submodule "src/test-listener"]
	path = src/test-listener
	url = https://github.com/NikolausLaj/listener-node-cpp.git
